@font-face {
  font-family: 'Product Sans';
  src: url(../fonts/ProductSans-Bold.woff2) format('woff2'),
  url(../fonts/ProductSans-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url(../fonts/ProductSans-Regular.woff2) format('woff2'),
  url(../fonts/ProductSans-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family:  "Product Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  background-color: #FFFFFF;
}
header{
  width: 1148px;
  margin-left: auto;
  margin-right: auto;
}
.menu-list{
  width: 1148px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 18px 24px;
}
.menu-list a {
  text-decoration: none;
}
.menu-link:hover{
  border-bottom: 3px solid black;
}
.menu-link:active{
 color: #FFFFFF; 
background: rgba(25, 25, 25, 0.7);
}
.menu-link{
  display: inline-block;
  margin-left: 32px;
  color: #000;
}
.phone-number {
  display: inline-block;
  align-items: center;
  padding: 8px 16px;
  background-color: #00BAFC;
  color:#FFFFFF;
  border-radius: 5px;
  margin-left: 32px;
}
.phone-number:hover{
  color: #00BAFC;
  background-color: #fff;
  border: 1px solid #00BAFC;
}
.phone-number:active{
  color: #FFFFFF;
  background-color:#00BAFC;
opacity: 0.6;
}
.phone-number a{
  color: #FFFFFF;
  font-weight: bold;
}
main{
  width: 1148px;
  margin-left: auto;
  margin-right: auto;
  
}
.main-intro{
  display: flex;
  align-items: center;
  padding-top: 80px;
  justify-content: space-between;
  margin: 90px 50px;
}
.left-intro h1{
  width: 463px;
  margin: 0px 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
}
.left-intro p{
  width: 465px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 16px
}
.intro-link:hover{
  background: rgba(0, 186, 252, 0.8);
}
.intro-link:active{
  background: rgba(0, 186, 252, 0.6);
  
}

.intro-link{
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 10px 0px;
  background-color: #00BAFC;
  padding: 8px 16px;
  margin: 0 16px;
}
.divider{
  width: 300px;
  height: 1px;
  background: #EEEEEE;
}
.service-section{
  width: 1148px;
  margin: 54px auto;
  text-align: center;
}
.service-section p{
  width: 719px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0px auto;
}
.service-list{
  display: flex;
  width: 1148px;
  align-self: center;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.service-list li{
  display: flex;
  flex-direction: column;
  margin: 24px;
  width: 320px;
  height: 260px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.service-list li a{
  display: inline-block;
  text-decoration: none;
  padding: 24px;
}
.service-list li p {
  width: 98px;
  padding-bottom: 5px;
}
.service-list li h3{
  color: black;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.sevice-link{
  display: inline-block;
  width: 180px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #00BAFC;
  color: #00BAFC;
}
.work-section{
  width: 1148px;
  margin: 54px auto;
  text-align: center;
}
.work-section p{
  width: 719px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0px auto;
}
.work-list{
  display: flex;
  width: 1148px;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.work-list li {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.work-list div p{
  width: 450px;
  width: 719px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0px 8px;
}
.work-list div h3{
  width: 350px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin: 0px 8px;
}
.work-list li div {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 490px;
  margin: 0;
} 
.order-section{
  background-color: #00BAFC;
}
.order-window{
  width: 1148px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 56px 100px;
}
.order-window h2{
  width: 184px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  align-self: center;
  margin: 0px 16px;
}
.order-window p{
  width: 719px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
  margin: 16px 16px;
  color: #FFFFFF;
}
.order-blank{
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 348px;
  height: 304px;
  background: #FFFFFF;
  border-radius: 5px;
  align-self: center;
  margin: 0px 0px;
}
input{
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 300px;
  height: 56px;
  left: 24px;
  top: 24px;
  background: #F3F3F3;
  border-radius: 5px;
  align-self: center;
  margin:8px 16px;
  color: black;
  border: none;
}
select{
  color: rgb(128, 128, 128);
  border: none;
  padding: 16px;
  width: 300px;
  height: 56px;
  background: #F3F3F3;
  border-radius: 5px;
}
.order-btn{
  outline: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  background-color: #00BAFC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  align-self: center;
  margin: 10px 16px;
  padding: 8px 16px;
}
.order-btn:hover{
  background: rgba(0, 186, 252, 0.8);
}
.order-btn:active{
  background: rgba(0, 186, 252, 0.6);
  
}
footer{
  margin: 0;
  padding: 0;
  background-color:#000000;
}
.footer-menu{
  padding: 50px;
  margin: 0 auto;
  width: 1148px;
  height: 338px;
  display: flex;
}
.left-footer{
  width: 320px;
}
.left-footer h3{
  margin: 0;
  width: 145px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.left-footer p{
  width: 320px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.side-pages{
  padding-left: 70px;
  text-align: start;
}
.side-pages ul{
  padding: 0;
}
.side-pages h3{
  margin: 0;
  width: 145px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.side-pages a{
  text-decoration: none;
  list-style: none;
  width: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  align-self: center;
  margin: 0px 8px;
}
.side-pages a:hover{
  color:#00BAFC;
}
.side-pages a:active{
  color:#00BAFC;
  opacity: 0.6;
}
.social-footer{
  padding-left: 70px;
  text-align: start;
}
.social-footer ul{
  padding: 0;
}
.social-footer h3{
  margin: 0;
  width: 145px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.social-footer a{
  display: flex;
  width: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  align-self: center;
  margin: 8px 0px;
  align-items: center;
  text-decoration: none;
}
.social-footer img{
  padding-right: 5px;
}
.social-footer a:active {
  color:#00BAFC;
  opacity: 0.6;
}
.social-footer a:hover{
  color:#00BAFC;
  
}
